{% extends '@EasyAdmin/layout.html.twig' %}

{% block content %}
    <h1>Bienvenue sur le Tableau de Bord</h1>
    <p>.</p>
    <div class="row">
        <div class="col-md-4">
            <div class="card text-white bg-primary mb-3">
                <div class="card-header">Enseignants</div>
                <div class="card-body">
                    <p class="card-text">Gérez les enseignants de votre institution.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-white bg-success mb-3">
                <div class="card-header">Étudiants</div>
                <div class="card-body">
                    <p class="card-text">Ajoutez, modifiez ou supprimez des étudiants.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-white bg-warning mb-3">
                <div class="card-header">Soutenances</div>
                <div class="card-body">
                    <p class="card-text">Consultez les soutenances prévues.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
